.top-bar{
    background:#f2c84d;
    height:55px;

    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.top-bar ul{
    display:flex;
    list-style:none;
    gap:25px;
    margin-right:30px;
}

.top-bar a{
    text-decoration:none;
    color:#000;
}
.middle-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 30px;
}
.logo img{
    width:420px;
}
.quick-links{
    display:flex;
    gap:15px;
}

.quick-links a{

    text-decoration:none;
    color:white;

    background:#ff7a00;

    padding:10px 18px;

    border-radius:25px;

    transition:.3s;
}

.quick-links a:hover{
    background:#e56d00;
}
nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 35px;
}
.menu{

    display:flex;

    gap:35px;

    list-style:none;
}

.menu li{

    cursor:pointer;

    transition:.3s;
}

.menu li:hover{

    color:#ff7a00;
}
.hamburger{

    font-size:35px;

    cursor:pointer;
}